.ChatbotInput {
  background-color: rgb(15, 0, 46);
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 10vh;
}

.InputText {
  border: none;
  padding: 15px 20px;
  border-radius: 0.5rem;;
  margin: 0 30px 0 0;
  width: 40%;
}

.sendMessage {
  background-color: rgb(62, 0, 187);
  border: none;
  padding: 0 20px;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 10px 0 0;
}

.sendMessage:hover {
  background-color: rgb(85, 0, 255);
  cursor: pointer;
}
