.MessagesSection {
  flex: 1;
  overflow-y: auto;
  padding: 10px 0;
  scrollbar-width: none;
  height: 88vh;
}

.ChatMessage-bot,
.ChatMessage-user {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 50px;
  max-width: 80%;
}

.ChatMessage-bot img,
.ChatMessage-user img {
  background-color: rgb(85, 0, 255);
  border-radius: 50%;
}

.ChatMessage-user {
  margin-left: auto;
  flex-direction: row;
  justify-content: end;
}