* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(7, 1, 19);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
