*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.items{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: red;
    align-content: center;
    border: 1px solid rgb(255, 198, 198);
}
.container{
    margin: 10px;
    display: grid;
    grid-template-columns: 1
    fr 1fr 1fr;
    grid-template-rows: 50px 500px;
    grid-template-areas: 
    "item-1 item-1 item-1"
    "item-2 item-2 item-3"
    "item-4 item-5 item-5";
    gap: 10px;
}
.item-1{
    grid-area: item-1;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-2{
    grid-area: item-2;
}
.item-3{
    grid-area: item-3;
}
.item-4{
    grid-area: item-4;
}
.item-5{
    grid-area: item-5;
}
.item-6{
    grid-area: item-6;
}