*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(87, 86, 86);
    color: white;
}
.container1{
    height: 400px;
    width: 400px;
    background-color: aqua;
    border: 1px solid blue;
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.items{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    color: black;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 5%;
    align-content: center;
    font-weight: 700;
}
li{
    background-color: pink;
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 10px;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: large;
    font-weight: 600;
    padding: 0.7rem;
}
